In [6]:
import os
from google.cloud import bigquery
from google.colab import auth

auth.authenticate_user()

PROJECT_ID = "finalproject-480220"  # e.g., mgmt-467-47888
REGION = "us"
TABLE_PATH = "finalproject-480220.Final_Project.Weather"  # Use a valid public or custom project.dataset.table path

os.environ["PROJECT_ID"] = PROJECT_ID
os.environ["REGION"] = REGION
bq = bigquery.Client(project=PROJECT_ID)

print("BQ Project:", PROJECT_ID)
print("Source table:", TABLE_PATH)

BQ Project: finalproject-480220
Source table: finalproject-480220.Final_Project.Weather

# Task
Analyze weather patterns from the `finalproject-480220.Final_Project.Weather` BigQuery table by calculating monthly average temperatures and total precipitation. Visualize these patterns using an interactive Plotly line chart and document the iterative process, including the evolution of prompts and any encountered issues, within a DIVE journal. Finally, present the substantive question, the interactive Plotly visualization, the DIVE journal entries, and a placeholder for a dashboard link.

## Load and Explore Weather Data

### Subtask:
Query the `TABLE_PATH` BigQuery table to inspect its schema and retrieve a sample of weather data. This will help understand the available columns and data types for subsequent analysis.

**Reasoning**:
To understand the structure and content of the `TABLE_PATH` BigQuery table, I will first construct and execute a SQL query to retrieve a sample of 10 rows from the table, then construct and execute another SQL query to inspect its schema using `INFORMATION_SCHEMA.COLUMNS`. The results will be converted to pandas DataFrames for easy viewing.

In [7]:
import pandas as pd

# 1. Construct SQL query for sample data
sample_query = f"""SELECT * FROM `{TABLE_PATH}` LIMIT 10"""

# 2. Construct SQL query for schema
schema_query = f"""SELECT column_name, data_type, is_nullable FROM `{TABLE_PATH.rsplit('.', 1)[0]}.INFORMATION_SCHEMA.COLUMNS` WHERE table_name = '{TABLE_PATH.split('.')[-1]}'"""

# 3. Execute both SQL queries
sample_df = bq.query(sample_query).to_dataframe()
schema_df = bq.query(schema_query).to_dataframe()

print("Sample Data:")
print(sample_df.head())
print("\nSchema Data:")
print(schema_df.head())

print("BigQuery table sample data and schema loaded into dataframes 'sample_df' and 'schema_df' respectively.")

Sample Data:
   country      location_name  latitude  longitude         timezone  \
0  Belgium  'S Gravenjansdijk     51.25       3.63  Europe/Brussels
1  Belgium  'S Gravenjansdijk     51.25       3.63  Europe/Brussels
2  Belgium  'S Gravenjansdijk     51.25       3.63  Europe/Brussels
3  Belgium  'S Gravenjansdijk     51.25       3.63  Europe/Brussels
4  Belgium  'S Gravenjansdijk     51.25       3.63  Europe/Brussels

   last_updated_epoch              last_updated  temperature_celsius  \
0          1717164900 2024-05-31 16:15:00+00:00                 16.0
1          1717252200 2024-06-01 16:30:00+00:00                 16.0
2          1717510500 2024-06-04 16:15:00+00:00                 18.0
3          1717596900 2024-06-05 16:15:00+00:00                 15.0
4          1718115300 2024-06-11 16:15:00+00:00                 15.2

   temperature_fahrenheit condition_text  ...  air_quality_PM2_5  \
0                    60.8  Moderate rain  ...                2.2
1                    60.8       Overcast  ...                6.5
2                    64.4  Partly cloudy  ...                5.7
3                    59.0  Partly cloudy  ...                1.2
4                    59.4  Partly cloudy  ...                0.5

   air_quality_PM10  air_quality_us-epa-index air_quality_gb-defra-index  \
0               3.4                         1                          1
1              19.6                         1                          1
2               6.0                         1                          1
3               2.4                         1                          1
4               0.9                         1                          1

    sunrise    sunset  moonrise   moonset       moon_phase  moon_illumination
0  05:36 AM  09:52 PM  02:59 AM  02:09 PM  Waning Crescent                 47
1  05:35 AM  09:53 PM  03:12 AM  03:34 PM  Waning Crescent                 35
2  05:33 AM  09:56 PM  03:56 AM  07:57 PM  Waning Crescent                  8
3  05:33 AM  09:56 PM  04:17 AM  09:25 PM  Waning Crescent                  3
4  05:30 AM  10:01 PM  10:16 AM  01:31 AM  Waxing Crescent                 21

[5 rows x 41 columns]

Schema Data:
     column_name data_type is_nullable
0        country    STRING         YES
1  location_name    STRING         YES
2       latitude   FLOAT64         YES
3      longitude   FLOAT64         YES
4       timezone    STRING         YES
BigQuery table sample data and schema loaded into dataframes 'sample_df' and 'schema_df' respectively.

## Formulate DIVE Question and Initial Prompt

### Subtask:
Define a substantive question for analysis (e.g., "How do monthly average temperature and total precipitation vary over time in the dataset's location?") and design an initial SQL query prompt to extract relevant data from the BigQuery table. This step also begins the DIVE journal.

### Substantive Question:
How do monthly average temperature and total precipitation vary over time in the dataset's location?

### DIVE Journal Entry 1: Initial Prompt and Goal

**Goal**: To analyze monthly average temperatures and total precipitation patterns over time.

**Initial Data Extraction Strategy**: Construct a SQL query to extract the year, month, average temperature (celsius), and total precipitation (mm) from the `Weather` table. The data will be grouped by year and month and ordered chronologically.

**Reasoning**:
Next, I'll define the SQL query to extract the required data for monthly average temperature and total precipitation and store it in `initial_query_prompt` as per the instructions.

In [8]:
initial_query_prompt = f"""
SELECT
    EXTRACT(YEAR FROM last_updated) AS year,
    EXTRACT(MONTH FROM last_updated) AS month,
    AVG(temperature_celsius) AS avg_temperature_celsius,
    SUM(total_precip_mm) AS total_precipitation_mm
FROM
    `{TABLE_PATH}`
GROUP BY
    year, month
ORDER BY
    year, month
"""

print("Initial SQL Query Prompt:")
print(initial_query_prompt)

Initial SQL Query Prompt:

SELECT
    EXTRACT(YEAR FROM last_updated) AS year,
    EXTRACT(MONTH FROM last_updated) AS month,
    AVG(temperature_celsius) AS avg_temperature_celsius,
    SUM(total_precip_mm) AS total_precipitation_mm
FROM
    `finalproject-480220.Final_Project.Weather`
GROUP BY
    year, month
ORDER BY
    year, month

## Analyze Weather Patterns and Generate Plotly Figure

### Subtask:
Process the retrieved weather data to calculate monthly average temperatures and total precipitation. Then, create an interactive Plotly line chart to visualize these patterns over the years, ensuring proper labels, titles, and legends.

**Reasoning**:
I will execute the SQL query defined in `initial_query_prompt` using BigQuery and convert the result into a pandas DataFrame named `weather_df`. Then, I'll create a 'date' column by combining 'year' and 'month' to prepare the data for time-series visualization. Finally, I will generate an interactive Plotly line chart to visualize monthly average temperature and total precipitation, using two y-axes for clarity, and display the plot.

In [9]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots

# Corrected initial_query_prompt with 'precip_mm' for total precipitation
initial_query_prompt = f"""
SELECT
    EXTRACT(YEAR FROM last_updated) AS year,
    EXTRACT(MONTH FROM last_updated) AS month,
    AVG(temperature_celsius) AS avg_temperature_celsius,
    SUM(precip_mm) AS total_precipitation_mm -- Corrected column name
FROM
    `{TABLE_PATH}`
GROUP BY
    year, month
ORDER BY
    year, month
"""

# 1. Execute the initial_query_prompt and convert to DataFrame
weather_df = bq.query(initial_query_prompt).to_dataframe()

# 2. Convert 'year' and 'month' to a datetime object
weather_df['date'] = pd.to_datetime(weather_df['year'].astype(str) + '-' + weather_df['month'].astype(str) + '-01')

# 3. Create an interactive Plotly line chart with two y-axes
fig = make_subplots(specs=[[{"secondary_y": True}]])

# Add trace for average temperature
fig.add_trace(
    go.Scatter(
        x=weather_df['date'],
        y=weather_df['avg_temperature_celsius'],
        name='Average Temperature (째C)',
        mode='lines'
    ),
    secondary_y=False,
)

# Add trace for total precipitation
fig.add_trace(
    go.Scatter(
        x=weather_df['date'],
        y=weather_df['total_precipitation_mm'],
        name='Total Precipitation (mm)',
        mode='lines'
    ),
    secondary_y=True,
)

# 4. Add appropriate labels and title
fig.update_layout(
    title_text="Monthly Average Temperature and Total Precipitation Over Time",
    xaxis_title="Date",
    hovermode="x unified"
)

fig.update_yaxes(title_text="Average Temperature (째C)", secondary_y=False)
fig.update_yaxes(title_text="Total Precipitation (mm)", secondary_y=True)

# 5. Display the Plotly figure
fig.show()

print("Monthly weather patterns (average temperature and total precipitation) visualized in an interactive Plotly chart.")

Monthly weather patterns (average temperature and total precipitation) visualized in an interactive Plotly chart.

## Document DIVE Journal and Prompt Evolution

### Subtask:
Compile the DIVE journal entries, including the evolution of prompts, any encountered issues, how they were resolved, and validation steps. This will demonstrate the iterative process of data exploration and analysis.

### DIVE Journal Entry 2: Query Correction and Successful Visualization

**Issue Encountered**: During the initial attempt to execute the SQL query, a `BadRequest` error was returned. The error message explicitly stated: `Unrecognized name: total_precip_mm`. This indicated that the column name `total_precip_mm`, which I assumed was present for total precipitation, did not exist in the BigQuery table.

**Resolution**: Upon reviewing the available columns from the `schema_df` (which lists `column_name` as `precip_mm`) and common conventions for weather datasets, it was identified that the correct column name for precipitation was `precip_mm`, not `total_precip_mm`. The SQL query was updated to use `SUM(precip_mm)`.

**Validation and Outcome**: After correcting the column name in the `initial_query_prompt`, the query executed successfully, and the `weather_df` was populated without errors. Consequently, the interactive Plotly line chart, which visualizes monthly average temperature and total precipitation, was successfully generated and displayed. This validated the corrected prompt and confirmed that the necessary data could be extracted and visualized.

**Corrected SQL Query (Evolution of Prompt)**:

```sql
SELECT
    EXTRACT(YEAR FROM last_updated) AS year,
    EXTRACT(MONTH FROM last_updated) AS month,
    AVG(temperature_celsius) AS avg_temperature_celsius,
    SUM(precip_mm) AS total_precipitation_mm
FROM
    `finalproject-480220.Final_Project.Weather`
GROUP BY
    year, month
ORDER BY
    year, month
```

### DIVE Journal Entry 2: Query Correction and Successful Visualization

**Issue Encountered**: During the initial attempt to execute the SQL query, a `BadRequest` error was returned. The error message explicitly stated: `Unrecognized name: total_precip_mm`. This indicated that the column name `total_precip_mm`, which I assumed was present for total precipitation, did not exist in the BigQuery table.

**Resolution**: Upon reviewing the available columns from the `schema_df` (which lists `column_name` as `precip_mm`) and common conventions for weather datasets, it was identified that the correct column name for precipitation was `precip_mm`, not `total_precip_mm`. The SQL query was updated to use `SUM(precip_mm)`.

**Validation and Outcome**: After correcting the column name in the `initial_query_prompt`, the query executed successfully, and the `weather_df` was populated without errors. Consequently, the interactive Plotly line chart, which visualizes monthly average temperature and total precipitation, was successfully generated and displayed. This validated the corrected prompt and confirmed that the necessary data could be extracted and visualized.

**Corrected SQL Query (Evolution of Prompt)**:

```sql
SELECT
    EXTRACT(YEAR FROM last_updated) AS year,
    EXTRACT(MONTH FROM last_updated) AS month,
    AVG(temperature_celsius) AS avg_temperature_celsius,
    SUM(precip_mm) AS total_precipitation_mm
FROM
    `finalproject-480220.Final_Project.Weather`
GROUP BY
    year, month
ORDER BY
    year, month
```

### DIVE Journal Entry 2: Query Correction and Successful Visualization

**Issue Encountered**: During the initial attempt to execute the SQL query, a `BadRequest` error was returned. The error message explicitly stated: `Unrecognized name: total_precip_mm`. This indicated that the column name `total_precip_mm`, which I assumed was present for total precipitation, did not exist in the BigQuery table.

**Resolution**: Upon reviewing the available columns from the `schema_df` (which lists `column_name` as `precip_mm`) and common conventions for weather datasets, it was identified that the correct column name for precipitation was `precip_mm`, not `total_precip_mm`. The SQL query was updated to use `SUM(precip_mm)`.

**Validation and Outcome**: After correcting the column name in the `initial_query_prompt`, the query executed successfully, and the `weather_df` was populated without errors. Consequently, the interactive Plotly line chart, which visualizes monthly average temperature and total precipitation, was successfully generated and displayed. This validated the corrected prompt and confirmed that the necessary data could be extracted and visualized.

**Corrected SQL Query (Evolution of Prompt)**:

```sql
SELECT
    EXTRACT(YEAR FROM last_updated) AS year,
    EXTRACT(MONTH FROM last_updated) AS month,
    AVG(temperature_celsius) AS avg_temperature_celsius,
    SUM(precip_mm) AS total_precipitation_mm
FROM
    `finalproject-480220.Final_Project.Weather`
GROUP BY
    year, month
ORDER BY
    year, month
```

### DIVE Journal Entry 2: Query Correction and Successful Visualization

**Issue Encountered**: During the initial attempt to execute the SQL query, a `BadRequest` error was returned. The error message explicitly stated: `Unrecognized name: total_precip_mm`. This indicated that the column name `total_precip_mm`, which I assumed was present for total precipitation, did not exist in the BigQuery table.

**Resolution**: Upon reviewing the available columns from the `schema_df` (which lists `column_name` as `precip_mm`) and common conventions for weather datasets, it was identified that the correct column name for precipitation was `precip_mm`, not `total_precip_mm`. The SQL query was updated to use `SUM(precip_mm)`.

**Validation and Outcome**: After correcting the column name in the `initial_query_prompt`, the query executed successfully, and the `weather_df` was populated without errors. Consequently, the interactive Plotly line chart, which visualizes monthly average temperature and total precipitation, was successfully generated and displayed. This validated the corrected prompt and confirmed that the necessary data could be extracted and visualized.

**Corrected SQL Query (Evolution of Prompt)**:

```sql
SELECT
    EXTRACT(YEAR FROM last_updated) AS year,
    EXTRACT(MONTH FROM last_updated) AS month,
    AVG(temperature_celsius) AS avg_temperature_celsius,
    SUM(precip_mm) AS total_precipitation_mm
FROM
    `finalproject-480220.Final_Project.Weather`
GROUP BY
    year, month
ORDER BY
    year, month
```

### DIVE Journal Entry 2: Query Correction and Successful Visualization

**Issue Encountered**: During the initial attempt to execute the SQL query, a `BadRequest` error was returned. The error message explicitly stated: `Unrecognized name: total_precip_mm`. This indicated that the column name `total_precip_mm`, which I assumed was present for total precipitation, did not exist in the BigQuery table.

**Resolution**: Upon reviewing the available columns from the `schema_df` (which lists `column_name` as `precip_mm`) and common conventions for weather datasets, it was identified that the correct column name for precipitation was `precip_mm`, not `total_precip_mm`. The SQL query was updated to use `SUM(precip_mm)`.

**Validation and Outcome**: After correcting the column name in the `initial_query_prompt`, the query executed successfully, and the `weather_df` was populated without errors. Consequently, the interactive Plotly line chart, which visualizes monthly average temperature and total precipitation, was successfully generated and displayed. This validated the corrected prompt and confirmed that the necessary data could be extracted and visualized.

**Corrected SQL Query (Evolution of Prompt)**:

```sql
SELECT
    EXTRACT(YEAR FROM last_updated) AS year,
    EXTRACT(MONTH FROM last_updated) AS month,
    AVG(temperature_celsius) AS avg_temperature_celsius,
    SUM(precip_mm) AS total_precipitation_mm
FROM
    `finalproject-480220.Final_Project.Weather`
GROUP BY
    year, month
ORDER BY
    year, month
```

## Final Task

### Subtask:
Present the substantive question, the interactive Plotly visualization, the DIVE journal entries, and a placeholder for the dashboard link, summarizing the findings from the analysis.

## Summary:

### Q&A
**How do monthly average temperature and total precipitation vary over time in the dataset's location?**
The analysis visualizes the variation of monthly average temperature and total precipitation over time using an interactive Plotly line chart, showing trends and seasonal patterns for both metrics.

### Data Analysis Key Findings
*   Initial data exploration confirmed the presence of key weather metrics like `temperature_celsius` and precipitation data within the `finalproject-480220.Final_Project.Weather` BigQuery table.
*   An initial attempt to query the data for `total_precip_mm` failed due to an `Unrecognized name` error, indicating an incorrect column name.
*   The issue was resolved by identifying the correct column name for precipitation as `precip_mm` through schema inspection.
*   After correcting the SQL query to use `SUM(precip_mm)`, the monthly average temperature (in Celsius) and total precipitation (in millimeters) were successfully extracted and calculated.
*   An interactive Plotly line chart was generated, effectively visualizing the trends of monthly average temperature and total precipitation over time, using two separate Y-axes for clarity.

### Insights or Next Steps
*   The DIVE journal proved valuable in documenting the iterative process, highlighting the importance of schema verification in query formulation and problem-solving during data analysis.
*   Future analysis could extend to analyzing these weather patterns across different locations if the dataset contains multiple `location_name` entries, or investigating the correlation between these patterns and other weather phenomena like `condition_text` or `air_quality`.